.login-background {
    background-image: url("../../public/login_back.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.login-box {
    position: relative;
    top: -100px;
    background-color: white;
    width: 90%;
    max-width: 500px;
    height: auto;
    z-index: 1;
}

.register-link {
    color: #ff4f92;
    text-decoration: none;
    cursor: pointer;
}

.register-link:hover {
    text-decoration: underline;
}

.input-label {
    margin-bottom: 5px;
}
