body {
  background-color: #1a1a1a; /* Color de fondo oscuro */
  color: white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid {
  flex-grow: 1;
}

.footer {
  margin-top: auto;
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 1rem;
}

a {
  text-decoration: none;
}
